.nav-placeholder{
    font-family:arial;
    margin:0;
    color:#fff;
    padding:25px;
    display:flex;
    background-color: #104076 ;
    font-size:large;
}


body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: right;
}

#currentmusic{
    text-align: right;

}
#spotify {
    text-align: right;
}


.index {
    font-family: arial;
}