.nav-placeholder{
    font-family:system-ui;
    margin:0;
    color:#fff;
    padding:25px;
    display:flex;
    font-size:large;
    background-image:linear-gradient(#fff,#104076);
}
//** make everything rounded *// 

body {
    font-family:system-ui;
    font-size: 1.5em;
    text-align: right;
    background-image:linear-gradient(rgb(188, 192, 246),rgb(5, 62, 168));
    color:whitesmoke;
}


#currentmusic{
    text-align: right;
  color:whitesmoke;
    text-decoration: dotted;

}
#musicgallery {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2em;
   display:flex;
    
    }   

#spotify {
    text-align: right;
}


.index {
    color:white;
    
}

