body {
  font-family: system-ui; 
  margin: 0;
  font-size: 20px;
  padding:15px;
  background-color: #d9dcd6;
}

img {
  width: 100%;
  padding:10px;
  background-color:darkslateblue;
  height: 350px;
  object-fit: cover;
}

#image-gallery {
  text-align:center;
}

figure {
  /* margin: auto; */
  display: inline-block;
  width: 350px;
}

#photobox {
  font-size:20px;
  text-align:center;
}

figcaption {
  padding:1.3em;
  text-align:center;
}

.index {
  /* font-family: Arial, Arial, Helvetica, sans-serif; */
  font-size: 1.1;
  padding: 11px;
  display:block;
}